SitSol Construct
==============================


SitSol construct is een intern ontwikkeld PHP framework waarop de webapplicaties worden ontwikkeld.  Door gebruik te maken van een intern framework, werken we enkel met dit wat nodig is, kunnen we snel en makkelijk dependencies leggen (via Composer) naar andere tools zoals Bootstrap, Smarty, js libraries enz...

We werken met een MVVM stuctuur die zwaar leunt op js in de browser.  De binding gebeurt door de Knockout.js bibliotheek, PHP endpoints worden aangeproken om met de data te werken (models). 


	-----------------		-----------------					------------------			--------------------
	|	index.html	|	=>	|	index-vm.js	|		<==>		|  PHP end-point |	<----->	|	model.dao.php 	|
	-----------------		-----------------					------------------			--------------------
									|									 |							   |
							dit is een knouckout file			dit is een gewone 				Dit is een standaard dao
							die de binding doet met				classe->function die			die gebruik maakt van eigen
							de view (index.html)				wordt aangesproken via 			library MySqlDal om met de 
																een router.  Return = json		db te communiceren  
																


Workflow:	index.html wordt als standaard html pagina ingeladen en roept de javacript file(s) op waaronder de index-vm.js.  Deze bouwt de index.html op met de nodige data 
			die wordt opgehaald via de php endpoints die json teruggeven.  De binding van de actions (buttons and events) gebeurt ook door de index-vm.js file en wordt indien
			nodig via een php endpoint afgehandeld.

Opmerking:	mocht het zijn dat de data te traag wordt ingeladen via json, dan moeten we werken met een combinatie door de initieële load van de data te doen via Smarty.